.container.portfolio__container {
    width: 40%;
    padding-bottom: 4rem;
    align-items: center;
    display: flex;

}

.port_image {
    width: 40rem;
    overflow: hidden;
    aspect-ratio: 1/1;
    align-items: center;
    margin: 0 auto 1rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--color-primary-variant);
}

.portfolio {
    background-image: url("../../assets/bgp-04.png");
    text-align: center;
    padding: 1rem;
    padding-top: 2rem;
    border-radius: 2rem;
    user-select: none;

}

.img__name {
    color: var(--color-light);
    font-weight: 500;
    font-size: 2rem;
    justify-content: center;
    margin: 0 auto 1rem;

}


@media screen and (max-width:1024px) {
    .container.portfolio__container {
        width: 60%;

    }

    .port_image {
        width: 80%;
        border-radius: 0.5rem;
    }

    .portfolio {
        border-radius: 0.5rem;
    }

    .img__name {
        font-weight: 500;
        font-size: 1.5rem;
    }
}



@media screen and (max-width: 600px) {
    .container.portfolio__container {
        width: var(--container-width-sm);
    }

    .port_image {
        width: 60%;
        border-radius: 0.5rem;
    }

    .portfolio {
        border-radius: 0.5rem;
    }

    .img__name {
        font-weight: 500;
        font-size: 1.5rem;
    }




}